<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
<meta name="Copyright" content="Lothar Design." />
<link href="templates/public.css" rel="stylesheet" type="text/css">
{include file="javascript.htm"}
<script type="text/javascript" src="images/jquery.autotextarea.js"></script>
</head>
<body>
<div id="dcWrap">
 {include file="header.htm"}
 <div id="dcLeft">{include file="menu.htm"}</div>
 <div id="dcMain">
   {include file="ur_here.htm"}
   <div class="mainBox" style="{$workspace.height}">
    <!--{if $rec eq 'default'} 下载列表 -->
    <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>
    <div class="filter">
    <form action="medium.php" method="post">
     <select name="cat_id">
      <option value="0">{$lang.uncategorized}</option>
      <!--{foreach from=$medium_category item=cate}-->
      <!--{if $cate.cat_id eq $cat_id}-->
      <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
      <!--{else}-->
      <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
      <!--{/if}-->
      <!--{/foreach}-->
     </select>
     <input name="keyword" type="text" class="inpMain" value="{$keyword}" size="20" />
     <input name="submit" class="btnGray" type="submit" value="{$lang.btn_filter}" />
    </form>
    <span>
    <!--{if $if_sort}-->
    <a class="btnGray" href="medium.php?rec=sort">{$lang.sort_close}</a>
    <!--{else}-->
    <a class="btnGray" href="medium.php?rec=sort">{$lang.sort_medium}</a>
    <!--{/if}-->
    </span>
    </div>
    <!--{if $if_sort}-->
    <div class="homeSortRight">
     <ul class="homeSortBg">
      {$sort_bg}
     </ul>
     <ul class="homeSortList">
      <!--{foreach from=$sort name=sort item=medium}-->
      <li>
       <em>{$medium.title}</em>
       <a href="medium.php?rec=del_sort&id={$medium.id}" title="{$lang.sort_cancel}">X</a>
      </li>
      <!--{/foreach}-->
     </ul>
    </div>
    <!--{/if}-->
    <div id="list"{if $if_sort} class="homeSortLeft"{/if}>
    <form name="action" method="post" action="medium.php?rec=action">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
      <th width="40" align="center">{$lang.record_id}</th>
      <th align="left">{$lang.medium_name}</th>
      <th width="150" align="center">{$lang.medium_category}</th>
      <th width="80" align="center">{$lang.medium_size}</th>
      <th width="80" align="center">{$lang.add_time}</th>
      <th width="80" align="center">{$lang.handler}</th>
     </tr>
     <!--{foreach from=$medium_list item=medium}-->
     <tr>
      <td align="center"><input type="checkbox" name="checkbox[]" value="{$medium.id}" /></td>
      <td align="center">{$medium.id}</td>
      <td><a href="medium.php?rec=edit&id={$medium.id}">{$medium.title}</a><!--{if $medium.image}--> <a href="../{$medium.image}" target="_blank"><img src="images/icon_picture.png" width="16" height="16" align="absMiddle"></a><!--{/if}--></td>
      <td align="center"><!--{if $medium.cat_name}--><a href="medium.php?cat_id={$medium.cat_id}">{$medium.cat_name}</a><!--{else}-->{$lang.uncategorized}<!--{/if}--></td>
      <td align="center">{$medium.size}</td>
      <td align="center">{$medium.add_time}</td>
      <td align="center">
       <!--{if $if_sort}-->
       <a href="medium.php?rec=set_sort&id={$medium.id}">{$lang.sort_btn}</a>
       <!--{else}-->
       <a href="medium.php?rec=edit&id={$medium.id}">{$lang.edit}</a> | <a href="medium.php?rec=del&id={$medium.id}">{$lang.del}</a>
       <!--{/if}-->
      </td>
     </tr>
     <!--{/foreach}-->
    </table>
    <div class="action">
     <select name="action" onchange="douAction()">
      <option value="0">{$lang.select}</option>
      <option value="del_all">{$lang.del}</option>
      <option value="category_move">{$lang.category_move}</option>
     </select>
     <select name="new_cat_id" style="display:none">
      <option value="0">{$lang.uncategorized}</option>
      <!--{foreach from=$medium_category item=cate}-->
      <!--{if $cate.cat_id eq $cat_id}-->
      <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
      <!--{else}-->
      <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
      <!--{/if}-->
      <!--{/foreach}-->
     </select>
     <input name="submit" class="btn" type="submit" value="{$lang.btn_execute}" />
    </div>
    </form>
    </div>
    <div class="clear"></div>
    {include file="pager.htm"}
    <!--{/if}-->
    <!--{if $rec eq 'add' || $rec eq 'edit'} 下载添加或编辑 -->
    <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
    <form action="medium.php?rec={$form_action}" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="90" align="right">{$lang.medium_name}</td>
       <td>
        <input type="text" name="title" value="{$medium.title}" size="80" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.medium_category}</td>
       <td>
        <select name="cat_id">
         <option value="0">{$lang.uncategorized}</option>
         <!--{foreach from=$medium_category item=cate}-->
         <!--{if $cate.cat_id eq $medium.cat_id}-->
         <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
         <!--{else}-->
         <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
         <!--{/if}-->
         <!--{/foreach}-->
        </select>
       </td>
      </tr>
      <!--{if $medium.defined}-->
      <tr>
       <td align="right" valign="top">{$lang.medium_defined}</td>
       <td>
        <textarea name="defined" id="defined" cols="50" class="textAreaAuto" style="height:{$medium.defined_count}0px">{$medium.defined}</textarea>
        <script type="text/javascript">
         {literal}
          $("#defined").autoTextarea({maxHeight:300});
         {/literal}
        </script>
        </td>
      </tr>
      <!--{/if}-->
      <tr>
       <td align="right" valign="top">{$lang.medium_content}</td>
       <td>
        <!-- KindEditor -->
        <script charset="utf-8" src="include/kindeditor/kindeditor.js"></script>
        <script charset="utf-8" src="include/kindeditor/lang/zh_CN.js"></script>
        <script>
        {literal}
         var editor;
         KindEditor.ready(function(K) {
             editor = K.create('#content');
         });
        {/literal}
        </script>
        <!-- /KindEditor -->
        <textarea id="content" name="content" style="width:780px;height:400px;" class="textArea">{$medium.content}</textarea>
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.thumb}</td>
       <td>
        <input type="file" name="image" size="38" class="inpFlie" />
        {if $medium.image}<a href="../{$medium.image}" target="_blank"><img src="images/icon_yes.png"></a>{else}<img src="images/icon_no.png">{/if}</td>
      </tr>
      <tr>
       <td align="right">{$lang.medium_link}</td>
       <td>
        <input type="text" name="medium_link" value="{$medium.medium_link}" size="120" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.medium_size}</td>
       <td>
        <input type="text" name="size" value="{$medium.size}" size="50" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.keywords}</td>
       <td>
        <input type="text" name="keywords" value="{$medium.keywords}" size="114" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">{$lang.description}</td>
       <td>
        <textarea name="description" cols="115" rows="3" class="textArea" />{$medium.description}</textarea>
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="{$token}" />
        <input type="hidden" name="id" value="{$medium.id}">
        <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
       </td>
      </tr>
     </table>
    </form>
    <!--{/if}-->
   </div>
 </div>
 {include file="footer.htm"}
 </div>
<!--{if $rec eq 'default'} 下载列表 -->
<script type="text/javascript">
{literal}
onload = function()
{
  document.forms['action'].reset();
}

function douAction()
{
    var frm = document.forms['action'];

    frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}
{/literal}
</script>
<!--{/if}-->
</body>
</html>